<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
  <div layout:fragment="content">

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8 notice">
            <div class="blog__details__title">
              <h2>공지사항</h2>
            </div>
            <!-- 검색 -->
            <form role="search" id="searchForm">
              <!-- 검색 후 결과 페이지는 1로 보여주기 -->
              <input type="hidden" name="page" value="1" class="form-control">
              <div class="search notice-search">
                <select name="search_type" id="search_type">
                  <option value="t" th:selected="${requestDto.type == 't'}">제목</option>
                  <option value="c" th:selected="${requestDto.type == 'c'}">내용</option>
                  <option value="w" th:selected="${requestDto.type == 'w'}">작성자</option>
                </select>
                <input class="form-control" type="search" placeholder="검색" name="keyword" id="keyword" th:value="${requestDto.keyword}"/>
                <button class="search-btn" type="submit">검색</button>
              </div>
            </form>
          </div>

          <!-- 리스트 -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- 리스트 내용 -->
                  <tr th:each="dto : ${result.dtoList}">
                    <th scope="row" th:text="${dto.nno}"></th>
                      <td>
                        <a class="title" th:href="@{notice-details(nno=${dto.nno}, page=${requestDto.page}, type=${requestDto.type}, keyword=${requestDto.keyword})}" th:text="${dto.title}"></a>
                      </td>
                      <td th:text="${dto.writerNickname}"></td>
                      <td th:text="${#temporals.format(dto.createdDate, 'yyyy-MM-dd')}"></td>
                  </tr>
                </tbody>
              </table>
                
              <!-- 페이지 나누기 -->
              <div class="product__pagination">
                <!-- prev -->
                <li th:if="${result.prev}">
                  <a th:href="@{notice(page=${result.start-1}, type=${requestDto.type}, keyword=${requestDto.keyword})}"><i class="fa fa-angle-double-left"></i></a>
                </li>
                <!-- <a href="#" class="current-page">1</a> -->
                <li th:class="'page-item ' + ${result.page == page? 'notice-active':''}" th:each="page : ${result.pageList}">
                  <a th:href="@{notice(page=${page}, type=${requestDto.type}, keyword=${requestDto.keyword})}" th:text="${page}"></a>
                </li>
                <li th:if="${result.next}">
                  <a th:href="@{notice(page=${result.end+1}, type=${requestDto.type}, keyword=${requestDto.keyword})}"><i class="fa fa-angle-double-right"></i></a>
                </li>
              </div>
            </div>
            <div sec:authorize="hasRole('ADMIN')">
            <a class="notice-details-btn" th:href="@{notice-create}">작성</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog Details Section End -->
  </div>
  <th:block layout:fragment="script">
    <script th:src="@{/noticejs/noticeSearch.js}"></script>
  </th:block>