
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
    <div layout:fragment="content">
    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="/img/normal-breadcrumb.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="normal__breadcrumb__text">
              <h2>Change Password</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Normal Breadcrumb End -->

    <!-- 비밀번호 변경 Begin -->
    <section class="signup spad edit-password">
      <div class="container">
            <div class="login__form">
              <h3>비밀번호 변경</h3>
              <form th:action="@{edit-password}" method="post" th:object="${pDto}"  id="editForm">
                <input type="hidden" name="email" th:value="${pDto.email}" />
                <div class="input__item">
                  <input type="password" class="password" placeholder="비밀번호" id="newPassword" name="newPassword" />
                  <span class="icon_lock"></span>
                  <i class="fa fa-eye fa-lg" style="color: #a0a3ab;"></i>
                  <div class="text-danger" id="newPasswordError"></div>
                </div>
                <div class="input__item">
                  <input type="password" class="password" placeholder="비밀번호 확인" id="checkPassword"  name="checkPassword" />
                  <span class="icon_lock"></span>
                  <i class="fa fa-eye fa-lg" style="color: #a0a3ab;"></i>
                  <div class="text-danger" th:if="${error}" th:text="${error}"></div>
                  <div class="text-danger" id="chkPasswordError"></div>
                </div>
                <button type="submit" class="site-btn">변경</button>
        </div>
        </form>
      </div>
    </section>
    <!-- 비밀번호 변경 End -->

   </div>
   <th:block layout:fragment="script">
  <script th:src="@{/memberjs/password.js}"></script>
    </th:block>