.product_sale_head {
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
}

.product_sale_head > img {
  width: 35px;
  height: 35px;
}

.section-title > h5 {
  margin-bottom: 15px;
}

.upload_image {
  border: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: lightgrey;

  /* background-color: ghostwhite; */
}

.upload_image_preview > div {
  width: 580px;
  height: 180px;

  border: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: lightgrey;
}

.product_register_btn {
  margin-top: 100px;
  margin-bottom: 50px;
}
.product_register_btn button {
  width: 5em;
  height: 35px;
  margin: 5px;
}

* {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

.upload_image_form {
  margin-left: auto;
  margin-right: auto;
}

.upload_image_form > div > div {
  margin-left: 0;
}

.upload_image_form > div > .upload_image_preview {
  margin-left: 0;
}

.upload_image_preview > div {
  width: 580px;
  white-space: nowrap;
  overflow-x: scroll;
}
