.active {
  font-size: 13px;
  color: #ffffff;
  background: #e53637;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 14px 20px;
  border-radius: 4px;
  margin-right: 11px;
}

.nav-item {
  font-size: 13px;
  text-align: center;
  padding: 14px 20px;
  border-radius: 4px;
  margin-right: 11px;
}

/* .category_menu {
  background-color: white;
}

.category_option {
  color: black;
} */
