<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
  <main layout:fragment="content">
    <div class="w3-display-middle error">
      <div class="w3-animate-zoom"><img src="/img/error.png" alt="" /></div>
      <h1 class="w3-jumbo w3-animate-top w3-center">ERROR</h1>
      <hr class="w3-border-white w3-animate-left" style="margin: auto; width: 50%" />
      <h3 class="w3-center">This Page Not Found!</h3>
    </div>
  </main>
</html>
