<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
  <div layout:fragment="content">
    <div layout:fragment="content">
      <div class="product-page spad">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="product__page__content">
                <h3>내 응찰목록</h3>
                <div class="row">
                  <div class="col-lg-2 col-md-4 col-sm-6" th:each="dto : ${bid_list}">
                    <div class="products__item" th:title="${dto.title}">
                      <div>
                        <a th:href="@{/auctionArena/product_details(pno=${dto.pno})}">
                          <img class="products__item__pic set-bg link" th:src="|/upload/display?fileName=${dto.productImageDtos[0].getImageURL()}|" onerror='this.src="https://via.placeholder.com/175x250"'>
                        </a>
                      </div>
                      <div class="products__item__text">
                        <h5>
                          <a th:href="@{/auctionArena/product_details(pno=${dto.pno})}" th:text="${dto.title}"></a>
                        </h5>
                        <ul>
                          <li>
                            <a th:href="@{/auctionArena/product_details(pno=${dto.pno})}" th:text="${#numbers.formatInteger(dto.startPrice, 3, 'COMMA')+' 원~'}"></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="blog-details spad">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8 notice">
            <div class="blog__details__title">
              <h2>내 응찰목록</h2>
            </div>
          </div>

          <!-- 리스트 -->
          <table class="table notice-table">
            <!--<thead> <tr> <th scope="col">번호</th> <th scope="col">제목</th> <th scope="col">작성자</th> <th scope="col">작성일</th> </tr> </thead>-->
            <tbody>
              <!-- 리스트 내용 -->
              <tr th:each="dto : ${bid_list}">
                <th scope="row"></th>
                <td>
                  <a class="title" th:title="${dto.title}"></a>
                </td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>
    </div>
  </div>
</section>
<!-- Blog Details Section End -->
</div>

</html>
