<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
  <div layout:fragment="content">
    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8 notice">
            <div class="blog__details__title">
              <h2>제목</h2>
              <h6>
                작성자
                <span>- 작성일</span>
              </h6>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="blog__details__content notice__details">
              <div class="blog__details__text">
                <p>
                  As a result the last couple of eps haven’t been super exciting for me, because they’ve been more like settling into a familiar and
                  comfortable routine.  We’re seeing character growth here but it’s subtle (apart from Shouyou, arguably).  I mean, Tobio being an
                  asshole is nothing new – it’s kind of the foundation of his entire character arc.  Confronting whether his being an asshole is a
                  problem for the Crows this directly is a bit of an evolution, and probably an overdue one at that, but the overall dynamic with
                  Kageyama is basically unchanged.
                </p>
                <div class="blog__details__text notice__details_btn">
                  <button class="notice-details-btn">수정</button>
                  <button class="notice-details-btn">삭제</button>
                  <button class="notice-details-btn">목록</button>
                </div>
              </div>
              <div class="blog__details__btns">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="blog__details__btns__item">
                      <h5>
                        <a href="#"><span class="arrow_left"></span> Building a Better LiA...</a>
                      </h5>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="blog__details__btns__item next__btn">
                      <h5>
                        <a href="#">Mugen no Juunin: Immortal – 21 <span class="arrow_right"></span></a>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="blog__details__comment">
                <h4>3 Comments</h4>
                <div class="blog__details__comment__item">
                  <div class="blog__details__comment__item__pic">
                    <img src="img/blog/details/comment-1.png" alt="" />
                  </div>
                  <div class="blog__details__comment__item__text">
                    <span>Sep 08, 2020</span>
                    <h5>John Smith</h5>
                    <p>
                      Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
                    </p>
                    <a href="#">Like</a>
                    <a href="#">Reply</a>
                  </div>
                </div>
                <div class="blog__details__comment__item blog__details__comment__item--reply">
                  <div class="blog__details__comment__item__pic">
                    <img src="img/blog/details/comment-2.png" alt="" />
                  </div>
                  <div class="blog__details__comment__item__text">
                    <span>Sep 08, 2020</span>
                    <h5>Elizabeth Perry</h5>
                    <p>
                      Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
                    </p>
                    <a href="#">Like</a>
                    <a href="#">Reply</a>
                  </div>
                </div>
                <div class="blog__details__comment__item">
                  <div class="blog__details__comment__item__pic">
                    <img src="img/blog/details/comment-3.png" alt="" />
                  </div>
                  <div class="blog__details__comment__item__text">
                    <span>Sep 08, 2020</span>
                    <h5>Adrian Coleman</h5>
                    <p>
                      Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
                    </p>
                    <a href="#">Like</a>
                    <a href="#">Reply</a>
                  </div>
                </div>
              </div>
              <div class="blog__details__form">
                <h4>Leave A Commnet</h4>
                <form action="#">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <input type="text" placeholder="Name" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <input type="text" placeholder="Email" />
                    </div>
                    <div class="col-lg-12">
                      <textarea placeholder="Message"></textarea>
                      <button type="submit" class="site-btn">Send Message</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog Details Section End -->
  </div>
</html>
