<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
  <div layout:fragment="content">
    <!-- Product Sale Section Begin -->
    <div class="col-8 product_sale_head">
      <img src="/img/logo_icon2.png" alt="">
      <h3 class="col-12">제품 수정</h3>
    </div>
    <form method="post" id="register_form" th:action="@{product_modify}">
      <!-- 이미지 업로드 칸 -->
      <!--<div class="row col-8 upload_image_form"> <div class="col product_image section-title"> <h5>제품 이미지 업로드</h5> <input type="file" class="upload_product_image" accept="image/*" required="required" multiple="multiple" style="display: none;"> <div class="upload_image" name="upload_image"> <i class="fa-solid fa-camera"> 이미지 업로드</i> </div> </div> <div class="col"> <div class="upload_image_preview section-title"> <h5>이미지 미리보기</h5> <div> <ul> 이미지 미리보기 div </ul> </div> </div> </div> </div>-->

      <!-- 이미지 업로드 새로운 버전 -->
      <div class="col-8 image_upload_section">
        <div class="row image_title">
          <!-- 글자 부분 -->
          <div class="col section-title">
            <h5>이미지 업로드</h5>
          </div>

          <!-- 업로드 버튼 -->
          <div class="col file_div">
            <label for="file" class="btn btn-outline-success file_add">
              <i class="fa-solid fa-plus"></i>
              사진 업로드</label>
            <!-- 수정은 required 써져있으면 안됨 -->
            <input type="file" class="upload_product_image" name="file" id="file" accept="image/*" multiple="multiple">
          </div>
        </div>

        <!-- 이미지 미리보기 -->
        <div class="col upload_image_preview">
          <div class="image_preview">
            <ul>
              <!-- 실제 이미지 삽입칸 -->
              <li th:each="image : ${dto.productImageDtos}" th:attr="data-file=${image.getImageURL()}, data-name=${image.getImgName()}, data-path=${image.getPath()}, data-uuid=${image.getUuid()}">
                <div class="img_title">
                  <a href="">
                    <img th:if="${image.path != null}" th:src="|/upload/display?fileName=${image.getImageURL()}|" class="block">
                  </a>
                  <div>
                    <span class="text-sm d-inline-block mx-1">[[${image.imgName}]]</span>
                    <a href="#">
                      <i class="fa-solid fa-xmark"></i>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- 이미지 업로드 종료 -->

      <!-- 제목, 카테고리, 제품 설명 작성란 -->
      <div class="product_detail">
        <div class="col-8 product_title section-title">
          <div class="prod_head">
            <h5>제목</h5>
          </div>
          <input class="form-control" type="text" name="title" id="title" th:value="${dto.title}">
        </div>
      </div>
      <div class="product_detail prod_cate">
        <div class="col-8 product_category section-title">
          <div class="prod_head">
            <h5>카테고리</h5>
          </div>
          <select name="category" id="category" class="product_cate">
            <option value="" th:selected="${dto.category} == ${dto.category}" th:value="${dto.category}" th:text="${dto.category}">선택</option>
          </select>
        </div>
      </div>
      <div class="product_detail">
        <div class="col-8 product_text section-title">
          <div class="prod_head">
            <h5>제품 설명</h5>
          </div>
          <textarea class="form-control" name="content" id="content" th:text="${dto.content}"></textarea>
        </div>
      </div>
      <!-- 경매 시작가, 경매 종료 일자 지정 -->
      <div class="product_detail">
        <div class="col-8 bidding_start_price section-title">
          <div class="prod_head">
            <h5>경매 시작가</h5>
          </div>
          <input type="number" class="form-control" name="startPrice" id="startPrice" placeholder="가격을 입력해주세요" th:value="${dto.startPrice}" readonly="readonly">
        </div>
      </div>

      <!-- 제품 번호, 경매 기간, 작성자 넘기기 -->
      <input type="hidden" name="pno" id="pno" th:value="${dto.pno}">
      <input type="hidden" name="biddingDate" id="biddingDate" th:value="${dto.biddingDate}">
      <input type="hidden" name="writerName" id="writerName" th:value="${#authentication.principal.memberDto.nickname}">

      <!-- 등록, 취소 버튼 -->
      <div class="col-8 product_register_btn d-grid gap-2">
        <button type="submit" class="btn btn-primary">수정</button>
        <a th:href="@{product_details(pno=${dto.pno},page=${requestDto.page},type=${requestDto.type},keyword=${requestDto.keyword})}" class="btn btn_cancle">취소</a>
      </div>
    </form>
    <!-- <input type="hidden" name="cno" id="cno" th:value="${productDto.cno}"> -->
  </div>
</section>
<!-- Product Section End -->
<th:block layout:fragment="script">
  <script>
    // csrf 토큰 설정
    const csrfValue = '[[${_csrf.token}]]';
  </script>
  <script th:src="@{/js/modify.js}"></script>
  <script th:src="@{/js/upload.js}"></script>
</th:block>
</html>
